n8n-workflows/wf-p09-a-mira.json
{
  "name": "WF-P09-A — Pesquisa MIRA",
  "nodes": [
    {
      "id": "p09a-01",
      "name": "A cada 30 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 30 }]
        }
      }
    },
    {
      "id": "p09a-02",
      "name": "HubSpot — Buscar Deals Pesquisa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'dealstage', operator: 'EQ', value: $vars.HUBSPOT_STAGE_PESQUISA }] }], properties: ['dealname', 'contato_nome', 'contato_whatsapp', 'segmento', 'website', 'ponto_de_dor', 'canal_outbound', 'gancho_mira'], limit: 100 }) }}"
      }
    },
    {
      "id": "p09a-03",
      "name": "Extrair Deals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300],
      "parameters": {
        "jsCode": "const r = $json;\nif (!r.total || r.total === 0) return [];\nreturn r.results.map(d => ({\n  json: {\n    dealId: d.id,\n    dealName: d.properties.dealname || 'Sem nome',\n    contatoNome: d.properties.contato_nome || '',\n    contatoWhatsapp: d.properties.contato_whatsapp || '',\n    segmento: d.properties.segmento || '',\n    website: d.properties.website || '',\n    pontoDeDor: d.properties.ponto_de_dor || '',\n    canalOutbound: d.properties.canal_outbound || 'WhatsApp'\n  }\n}));"
      }
    },
    {
      "id": "p09a-04",
      "name": "Processar 1 por vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [840, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "p09a-05",
      "name": "Preparar Prompt MIRA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300],
      "parameters": {
        "jsCode": "const d = $json;\n\nconst system = `Você é MIRA, CMO da Carbon Films — agência de marketing visual cinematográfico em Santa Catarina, Brasil. Analise os dados do prospect abaixo e crie um gancho personalizado para prospecção ativa via WhatsApp.\n\nRegras:\n- O gancho deve ser específico e baseado nos dados reais (não genérico)\n- Tom consultivo, não vendedor — você identificou um problema, não quer 'vender algo'\n- Máximo 2-3 frases para o gancho\n- Não mencionar preço ou pacotes\n\nResponda SOMENTE com JSON válido (sem markdown, sem explicação):\n{\n  \"ponto_dor\": \"problema específico e observável (1-2 frases)\",\n  \"gancho\": \"frase de abertura personalizada que NOVA vai usar\",\n  \"tom\": \"direto|consultivo|descontraido|tecnico\"\n}`;\n\nconst user = `Empresa: ${d.dealName}\\nSegmento: ${d.segmento}\\nWebsite: ${d.website || 'não informado'}\\nPonto de dor identificado: ${d.pontoDeDor || 'não especificado'}\\nCanal de abordagem: ${d.canalOutbound}`;\n\nreturn [{\n  json: {\n    ...d,\n    claudeBody: JSON.stringify({\n      model: 'claude-sonnet-4-5',\n      max_tokens: 512,\n      system,\n      messages: [{ role: 'user', content: user }]\n    })\n  }\n}];"
      }
    },
    {
      "id": "p09a-06",
      "name": "Claude API — MIRA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1280, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claudeBody }}"
      }
    },
    {
      "id": "p09a-07",
      "name": "Extrair Resposta MIRA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "jsCode": "const response = $json;\nconst prev = $('Preparar Prompt MIRA').first().json;\n\nlet mira = { ponto_dor: '', gancho: '', tom: 'consultivo' };\ntry {\n  const text = response.content[0].text;\n  mira = JSON.parse(text);\n} catch(e) {\n  mira.gancho = `Vi o trabalho de vocês na ${prev.dealName} e tenho uma ideia que pode ajudar — vale uma conversa rápida?`;\n  mira.ponto_dor = prev.pontoDeDor || 'Oportunidade de melhoria na comunicação visual';\n}\n\nconst now = Date.now();\n\nreturn [{\n  json: {\n    ...prev,\n    ganchoMira: mira.gancho,\n    pontoDorValidado: mira.ponto_dor,\n    tomRecomendado: mira.tom,\n    hubspotUpdateBody: JSON.stringify({\n      properties: {\n        gancho_mira: mira.gancho,\n        ponto_dor_validado: mira.ponto_dor,\n        dealstage: $vars.HUBSPOT_STAGE_MSG_PRONTA\n      }\n    }),\n    yanMsg: `[MIRA]: Pesquisa pronta para *${prev.dealName}*\\n\\nGancho: ${mira.gancho}\\nPonto de dor: ${mira.ponto_dor}\\nTom: ${mira.tom}\\n\\nAcesse o HubSpot, revise e avance para *Aprovado para Envio* quando estiver pronto.`\n  }\n}];"
      }
    },
    {
      "id": "p09a-08",
      "name": "HubSpot — Salvar Gancho e Avançar Stage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1720, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/deals/' + $json.dealId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.hubspotUpdateBody }}"
      }
    },
    {
      "id": "p09a-09",
      "name": "WhatsApp — Notificar Yan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1940, 300],
      "parameters": {
        "method": "POST",
        "url": "https://waba.360dialog.io/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $vars.WHATSAPP_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $vars.YAN_WHATSAPP, type: 'text', text: { body: $json.yanMsg } }) }}"
      }
    }
  ],
  "connections": {
    "A cada 30 minutos": {
      "main": [[{ "node": "HubSpot — Buscar Deals Pesquisa", "type": "main", "index": 0 }]]
    },
    "HubSpot — Buscar Deals Pesquisa": {
      "main": [[{ "node": "Extrair Deals", "type": "main", "index": 0 }]]
    },
    "Extrair Deals": {
      "main": [[{ "node": "Processar 1 por vez", "type": "main", "index": 0 }]]
    },
    "Processar 1 por vez": {
      "main": [
        [{ "node": "Preparar Prompt MIRA", "type": "main", "index": 0 }],
        []
      ]
    },
    "Preparar Prompt MIRA": {
      "main": [[{ "node": "Claude API — MIRA", "type": "main", "index": 0 }]]
    },
    "Claude API — MIRA": {
      "main": [[{ "node": "Extrair Resposta MIRA", "type": "main", "index": 0 }]]
    },
    "Extrair Resposta MIRA": {
      "main": [[{ "node": "HubSpot — Salvar Gancho e Avançar Stage", "type": "main", "index": 0 }]]
    },
    "HubSpot — Salvar Gancho e Avançar Stage": {
      "main": [[{ "node": "WhatsApp — Notificar Yan", "type": "main", "index": 0 }]]
    },
    "WhatsApp — Notificar Yan": {
      "main": [[{ "node": "Processar 1 por vez", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "wf-p09-a",
  "tags": [{ "name": "P09" }, { "name": "MIRA" }, { "name": "Prospecção" }]
}
