carbon-ops/n8n-workflows/wf-p09-c-pulse.json
{
  "name": "WF-P09-C — Sequência PULSE (D+3 e D+7)",
  "nodes": [
    {
      "id": "p09c-01",
      "name": "Diariamente às 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1-5" }]
        }
      }
    },
    {
      "id": "p09c-02",
      "name": "HubSpot — Buscar Deals Aguardando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'dealstage', operator: 'EQ', value: $vars.HUBSPOT_STAGE_AGUARDANDO }] }], properties: ['dealname', 'contato_nome', 'contato_whatsapp', 'gancho_mira', 'data_ultimo_contato', 'canal_outbound'], limit: 100 }) }}"
      }
    },
    {
      "id": "p09c-03",
      "name": "Calcular D+3 e D+7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300],
      "parameters": {
        "jsCode": "const r = $json;\nif (!r.total || r.total === 0) return [];\n\nconst now = Date.now();\nconst DAY_MS = 86400000;\nconst items = [];\n\nfor (const d of r.results) {\n  const lastContact = parseInt(d.properties.data_ultimo_contato || '0');\n  if (!lastContact) continue;\n\n  const daysSince = Math.floor((now - lastContact) / DAY_MS);\n  \n  // D+3: entre 3 e 4 dias (janela de 2 dias para não perder caso o cron atrase)\n  // D+7: entre 7 e 8 dias\n  let group = null;\n  if (daysSince >= 3 && daysSince < 5) group = 'D3';\n  else if (daysSince >= 7 && daysSince < 9) group = 'D7';\n\n  if (!group) continue;\n\n  items.push({\n    json: {\n      dealId: d.id,\n      dealName: d.properties.dealname || 'Sem nome',\n      contatoNome: d.properties.contato_nome || '',\n      contatoWhatsapp: d.properties.contato_whatsapp || '',\n      ganchoMira: d.properties.gancho_mira || '',\n      daysSince,\n      followupGroup: group\n    }\n  });\n}\n\nreturn items;"
      }
    },
    {
      "id": "p09c-04",
      "name": "Processar 1 por vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [840, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "p09c-05",
      "name": "É D+3 ou D+7?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1060, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "d3-check",
              "leftValue": "={{ $json.followupGroup }}",
              "rightValue": "D3",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "p09c-06",
      "name": "Preparar MSG-OUT-04 (D+3)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 160],
      "parameters": {
        "jsCode": "const d = $json;\nconst now = Date.now();\n\nconst mensagem = `[PULSE]: Olá, ${d.contatoNome || d.dealName}! Passei aqui para ver se você teve chance de ler minha mensagem anterior sobre ${d.ganchoMira ? d.ganchoMira.substring(0, 80) + '...' : 'nossa proposta'}\\n\\nFico à disposição para uma conversa rápida quando fizer sentido para você.\\n\\n— Carbon Films`;\n\nreturn [{\n  json: {\n    ...d,\n    mensagem,\n    whatsappBody: JSON.stringify({\n      to: d.contatoWhatsapp,\n      type: 'text',\n      text: { body: mensagem }\n    }),\n    hubspotUpdateBody: JSON.stringify({\n      properties: {\n        data_ultimo_contato: String(now)\n      }\n    }),\n    hubspotNoteBody: JSON.stringify({\n      engagement: { active: true, type: 'NOTE' },\n      associations: { dealIds: [Number(d.dealId)] },\n      metadata: { body: `[PULSE - D+3]: Follow-up enviado via WhatsApp.\\n\\nMensagem:\\n${mensagem}` }\n    })\n  }\n}];"
      }
    },
    {
      "id": "p09c-07",
      "name": "WhatsApp — MSG-OUT-04",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 160],
      "parameters": {
        "method": "POST",
        "url": "https://waba.360dialog.io/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $vars.WHATSAPP_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.whatsappBody }}"
      }
    },
    {
      "id": "p09c-08",
      "name": "HubSpot — Atualizar Data Contato D+3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1720, 160],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/deals/' + $json.dealId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.hubspotUpdateBody }}"
      }
    },
    {
      "id": "p09c-09",
      "name": "HubSpot — Nota D+3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1940, 160],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/engagements/v1/engagements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.hubspotNoteBody }}"
      }
    },
    {
      "id": "p09c-10",
      "name": "Preparar MSG-OUT-05 (D+7 Breakup)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 440],
      "parameters": {
        "jsCode": "const d = $json;\n\nconst mensagem = `[PULSE]: ${d.contatoNome || d.dealName}, última mensagem aqui — não quero incomodar.\\n\\nSe no futuro a comunicação visual da ${d.dealName} entrar na agenda, a Carbon Films estará aqui.\\n\\nSucesso no trabalho de vocês!\\n\\n— Carbon Films`;\n\nreturn [{\n  json: {\n    ...d,\n    mensagem,\n    whatsappBody: JSON.stringify({\n      to: d.contatoWhatsapp,\n      type: 'text',\n      text: { body: mensagem }\n    }),\n    hubspotUpdateBody: JSON.stringify({\n      properties: {\n        dealstage: $vars.HUBSPOT_STAGE_SEM_RESPOSTA\n      }\n    }),\n    hubspotNoteBody: JSON.stringify({\n      engagement: { active: true, type: 'NOTE' },\n      associations: { dealIds: [Number(d.dealId)] },\n      metadata: { body: `[PULSE - D+7]: Breakup enviado via WhatsApp. Deal movido para 'Sem Resposta — Nutrição 90 dias'.\\n\\nMensagem:\\n${mensagem}` }\n    })\n  }\n}];"
      }
    },
    {
      "id": "p09c-11",
      "name": "WhatsApp — MSG-OUT-05",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 440],
      "parameters": {
        "method": "POST",
        "url": "https://waba.360dialog.io/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $vars.WHATSAPP_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.whatsappBody }}"
      }
    },
    {
      "id": "p09c-12",
      "name": "HubSpot — Mover para Sem Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1720, 440],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/deals/' + $json.dealId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.hubspotUpdateBody }}"
      }
    },
    {
      "id": "p09c-13",
      "name": "HubSpot — Nota D+7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1940, 440],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/engagements/v1/engagements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.hubspotNoteBody }}"
      }
    }
  ],
  "connections": {
    "Diariamente às 9h": {
      "main": [[{ "node": "HubSpot — Buscar Deals Aguardando", "type": "main", "index": 0 }]]
    },
    "HubSpot — Buscar Deals Aguardando": {
      "main": [[{ "node": "Calcular D+3 e D+7", "type": "main", "index": 0 }]]
    },
    "Calcular D+3 e D+7": {
      "main": [[{ "node": "Processar 1 por vez", "type": "main", "index": 0 }]]
    },
    "Processar 1 por vez": {
      "main": [
        [{ "node": "É D+3 ou D+7?", "type": "main", "index": 0 }],
        []
      ]
    },
    "É D+3 ou D+7?": {
      "main": [
        [{ "node": "Preparar MSG-OUT-04 (D+3)", "type": "main", "index": 0 }],
        [{ "node": "Preparar MSG-OUT-05 (D+7 Breakup)", "type": "main", "index": 0 }]
      ]
    },
    "Preparar MSG-OUT-04 (D+3)": {
      "main": [[{ "node": "WhatsApp — MSG-OUT-04", "type": "main", "index": 0 }]]
    },
    "WhatsApp — MSG-OUT-04": {
      "main": [[{ "node": "HubSpot — Atualizar Data Contato D+3", "type": "main", "index": 0 }]]
    },
    "HubSpot — Atualizar Data Contato D+3": {
      "main": [[{ "node": "HubSpot — Nota D+3", "type": "main", "index": 0 }]]
    },
    "HubSpot — Nota D+3": {
      "main": [[{ "node": "Processar 1 por vez", "type": "main", "index": 0 }]]
    },
    "Preparar MSG-OUT-05 (D+7 Breakup)": {
      "main": [[{ "node": "WhatsApp — MSG-OUT-05", "type": "main", "index": 0 }]]
    },
    "WhatsApp — MSG-OUT-05": {
      "main": [[{ "node": "HubSpot — Mover para Sem Resposta", "type": "main", "index": 0 }]]
    },
    "HubSpot — Mover para Sem Resposta": {
      "main": [[{ "node": "HubSpot — Nota D+7", "type": "main", "index": 0 }]]
    },
    "HubSpot — Nota D+7": {
      "main": [[{ "node": "Processar 1 por vez", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "wf-p09-c",
  "tags": [{ "name": "P09" }, { "name": "PULSE" }, { "name": "Prospecção" }]
}
