carbon-ops/n8n-workflows/wf-sdr-03-followup.json
{
  "name": "WF-SDR-03 — Follow-up Automático NOVA",
  "nodes": [
    {
      "id": "sdr03-01",
      "name": "Schedule — Diário 9h30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 9 * * 1-5" }]
        }
      }
    },
    {
      "id": "sdr03-02",
      "name": "Calcular Janelas de Tempo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300],
      "parameters": {
        "jsCode": "const agora = Date.now();\nconst MS_DIA = 24 * 60 * 60 * 1000;\n\n// D+3: enviou entre 3 e 4 dias atrás\nconst d3_inicio = String(agora - 4 * MS_DIA);\nconst d3_fim = String(agora - 3 * MS_DIA);\n\n// D+7: enviou entre 7 e 8 dias atrás\nconst d7_inicio = String(agora - 8 * MS_DIA);\nconst d7_fim = String(agora - 7 * MS_DIA);\n\n// D+14: enviou entre 14 e 15 dias atrás — marcar como frio\nconst d14_inicio = String(agora - 15 * MS_DIA);\nconst d14_fim = String(agora - 14 * MS_DIA);\n\nreturn [{ json: { d3_inicio, d3_fim, d7_inicio, d7_fim, d14_inicio, d14_fim } }];"
      }
    },
    {
      "id": "sdr03-03",
      "name": "HubSpot — Buscar D+3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'sdr_estado', operator: 'IN', values: ['CONTATO_ENVIADO', 'FOLLOWUP_1'] }, { propertyName: 'sdr_ultimo_contato', operator: 'BETWEEN', value: $json.d3_inicio, highValue: $json.d3_fim }] }], properties: ['dealname', 'contato_nome', 'contato_whatsapp', 'segmento', 'sdr_estado', 'sdr_historico', 'sdr_tentativas', 'sdr_ponto_dor', 'sdr_gancho'], limit: 20 }) }}"
      }
    },
    {
      "id": "sdr03-04",
      "name": "HubSpot — Buscar D+7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'sdr_estado', operator: 'EQ', value: 'FOLLOWUP_1' }, { propertyName: 'sdr_ultimo_contato', operator: 'BETWEEN', value: $json.d7_inicio, highValue: $json.d7_fim }] }], properties: ['dealname', 'contato_nome', 'contato_whatsapp', 'segmento', 'sdr_estado', 'sdr_historico', 'sdr_tentativas', 'sdr_ponto_dor', 'sdr_gancho'], limit: 20 }) }}"
      }
    },
    {
      "id": "sdr03-05",
      "name": "HubSpot — Buscar D+14 (Frios)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filterGroups: [{ filters: [{ propertyName: 'sdr_estado', operator: 'EQ', value: 'FOLLOWUP_2' }, { propertyName: 'sdr_ultimo_contato', operator: 'LT', value: $json.d14_fim }] }], properties: ['dealname', 'contato_nome', 'contato_whatsapp', 'sdr_estado', 'sdr_historico', 'sdr_ponto_dor'], limit: 50 }) }}"
      }
    },
    {
      "id": "sdr03-06",
      "name": "Formatar D+3 com Tipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 200],
      "parameters": {
        "jsCode": "const result = $json;\nif (!result.results || result.results.length === 0) return [];\nreturn result.results.map(deal => ({ json: { dealId: deal.id, dealName: deal.properties.dealname, contatoNome: deal.properties.contato_nome || '', contatoWhatsapp: deal.properties.contato_whatsapp, segmento: deal.properties.segmento || '', sdrHistorico: deal.properties.sdr_historico || '[]', sdrTentativas: parseInt(deal.properties.sdr_tentativas || '1'), sdrPontoDor: deal.properties.sdr_ponto_dor || '', sdrGancho: deal.properties.sdr_gancho || '', tipoFollowup: 'D3', novoEstado: 'FOLLOWUP_1' } }));"
      }
    },
    {
      "id": "sdr03-07",
      "name": "Formatar D+7 com Tipo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300],
      "parameters": {
        "jsCode": "const result = $json;\nif (!result.results || result.results.length === 0) return [];\nreturn result.results.map(deal => ({ json: { dealId: deal.id, dealName: deal.properties.dealname, contatoNome: deal.properties.contato_nome || '', contatoWhatsapp: deal.properties.contato_whatsapp, segmento: deal.properties.segmento || '', sdrHistorico: deal.properties.sdr_historico || '[]', sdrTentativas: parseInt(deal.properties.sdr_tentativas || '2'), sdrPontoDor: deal.properties.sdr_ponto_dor || '', sdrGancho: deal.properties.sdr_gancho || '', tipoFollowup: 'D7', novoEstado: 'FOLLOWUP_2' } }));"
      }
    },
    {
      "id": "sdr03-08",
      "name": "Marcar D+14 como LEAD_FRIO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400],
      "parameters": {
        "jsCode": "const result = $json;\nif (!result.results || result.results.length === 0) return [];\nreturn result.results.map(deal => ({ json: { dealId: deal.id, dealName: deal.properties.dealname, contatoNome: deal.properties.contato_nome || '', contatoWhatsapp: deal.properties.contato_whatsapp, sdrHistorico: deal.properties.sdr_historico || '[]', sdrPontoDor: deal.properties.sdr_ponto_dor || '', tipoFollowup: 'D14_FRIO', novoEstado: 'LEAD_FRIO' } }));"
      }
    },
    {
      "id": "sdr03-09",
      "name": "Merge Todos os Leads",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1060, 300],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "sdr03-10",
      "name": "Processar 1 por Vez",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1280, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "sdr03-11",
      "name": "É D+14 Frio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-frio",
              "leftValue": "={{ $json.tipoFollowup }}",
              "rightValue": "D14_FRIO",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "sdr03-12",
      "name": "HubSpot — Marcar como Frio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1720, 200],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/deals/' + $json.dealId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { sdr_estado: 'LEAD_FRIO', dealstage: $vars.HUBSPOT_STAGE_FRIO } }) }}"
      }
    },
    {
      "id": "sdr03-13",
      "name": "Gerar Follow-up com NOVA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 400],
      "parameters": {
        "jsCode": "const d = $json;\n\nlet contextoFollowup = '';\nif (d.tipoFollowup === 'D3') {\n  contextoFollowup = `Esta é a SEGUNDA mensagem (D+3 sem resposta). O lead recebeu o primeiro contato há 3 dias e não respondeu.\n  Tom: curto, leve, sem pressão. Aborde um ângulo diferente do primeiro contato. Pode referenciar o ponto de dor de forma diferente. Termine com pergunta de abertura.`;\n} else {\n  contextoFollowup = `Esta é a TERCEIRA mensagem (D+7 sem resposta). O lead recebeu 2 mensagens anteriores e não respondeu.\n  Tom: último toque antes de encerrar. Seja honesto: \"só mais uma vez antes de tirar da fila\". Pode mencionar que entende que o momento pode não ser o ideal. Pergunta simples e direta.`;\n}\n\nconst system = `Você é NOVA, representante comercial da Carbon Films.\n\nREGRAS:\n- Inicie com [NOVA]:\n- Máximo 2 parágrafos curtos\n- Uma pergunta por mensagem\n- Sem pressão, sem urgência falsa\n- NÃO use markdown\n- NÃO mencione preço\n\nResponda SOMENTE com o texto da mensagem, pronto para enviar.`;\n\nconst user = `Escreva um follow-up para:\n- Nome: ${d.contatoNome || d.dealName}\n- Empresa: ${d.dealName}\n- Segmento: ${d.segmento || 'negócio em SC'}\n- Ponto de dor original: ${d.sdrPontoDor || 'comunicação visual'}\n\n${contextoFollowup}`;\n\nreturn [{\n  json: {\n    ...d,\n    claudeBody: JSON.stringify({\n      model: 'claude-sonnet-4-6',\n      max_tokens: 250,\n      system,\n      messages: [{ role: 'user', content: user }]\n    })\n  }\n}];"
      }
    },
    {
      "id": "sdr03-14",
      "name": "Claude API — Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1940, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claudeBody }}"
      }
    },
    {
      "id": "sdr03-15",
      "name": "Preparar Envio Follow-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 400],
      "parameters": {
        "jsCode": "const response = $json;\nconst prev = $('Gerar Follow-up com NOVA').first().json;\n\nlet mensagem = '';\ntry {\n  mensagem = response.content[0].text.trim().replace(/\\*\\*/g, '').replace(/^#+\\s/gm, '');\n} catch(e) {\n  if (prev.tipoFollowup === 'D3') {\n    mensagem = `[NOVA]: Oi, ${prev.contatoNome || 'tudo bem'}! Passei para ver se surgiu alguma dúvida sobre o que conversei semana passada. Ainda faz sentido o que te mencionei?`;\n  } else {\n    mensagem = `[NOVA]: Oi, ${prev.contatoNome || 'tudo bem'}! Só mais um toque antes de tirar da fila. Se o momento não for ideal agora, sem problemas — posso retornar quando fizer sentido. O desafio que te mencionei ainda existe?`;\n  }\n}\n\n// Atualizar histórico\nlet historico = [];\ntry { historico = JSON.parse(prev.sdrHistorico || '[]'); } catch(e) {}\nhistorico.push({ role: 'nova', content: mensagem, action: 'followup_' + prev.tipoFollowup.toLowerCase(), estado: prev.novoEstado, note: 'Follow-up automático ' + prev.tipoFollowup, ts: new Date().toISOString() });\nif (historico.length > 30) historico = historico.slice(-30);\n\nreturn [{\n  json: {\n    ...prev,\n    mensagemFollowup: mensagem,\n    whatsappBody: JSON.stringify({ to: prev.contatoWhatsapp, type: 'text', text: { body: mensagem } }),\n    hubspotBody: JSON.stringify({ properties: { sdr_estado: prev.novoEstado, sdr_historico: JSON.stringify(historico), sdr_tentativas: String(prev.sdrTentativas + 1), sdr_ultimo_contato: String(Date.now()), dealstage: $vars.HUBSPOT_STAGE_EM_CONVERSA } }),\n    noteBody: JSON.stringify({ properties: { hs_note_body: `[NOVA SDR - ${prev.tipoFollowup}] Follow-up automático enviado.\\n\\nMensagem:\\n${mensagem}`, hs_timestamp: String(Date.now()) }, associations: [{ to: { id: prev.dealId }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 214 }] }] })\n  }\n}];"
      }
    },
    {
      "id": "sdr03-16",
      "name": "WhatsApp — Enviar Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2380, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.WHATSAPP_API_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "D360-API-KEY", "value": "={{ $vars.WHATSAPP_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.whatsappBody }}"
      }
    },
    {
      "id": "sdr03-17",
      "name": "HubSpot — Atualizar Estado Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2600, 400],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.hubapi.com/crm/v3/objects/deals/' + $json.dealId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.hubspotBody }}"
      }
    },
    {
      "id": "sdr03-18",
      "name": "HubSpot — Nota Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2820, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $vars.HUBSPOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.noteBody }}"
      }
    },
    {
      "id": "sdr03-19",
      "name": "Próximo Lead",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3040, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule — Diário 9h30": {
      "main": [[{ "node": "Calcular Janelas de Tempo", "type": "main", "index": 0 }]]
    },
    "Calcular Janelas de Tempo": {
      "main": [
        [
          { "node": "HubSpot — Buscar D+3", "type": "main", "index": 0 },
          { "node": "HubSpot — Buscar D+7", "type": "main", "index": 0 },
          { "node": "HubSpot — Buscar D+14 (Frios)", "type": "main", "index": 0 }
        ]
      ]
    },
    "HubSpot — Buscar D+3": {
      "main": [[{ "node": "Formatar D+3 com Tipo", "type": "main", "index": 0 }]]
    },
    "HubSpot — Buscar D+7": {
      "main": [[{ "node": "Formatar D+7 com Tipo", "type": "main", "index": 0 }]]
    },
    "HubSpot — Buscar D+14 (Frios)": {
      "main": [[{ "node": "Marcar D+14 como LEAD_FRIO", "type": "main", "index": 0 }]]
    },
    "Formatar D+3 com Tipo": {
      "main": [[{ "node": "Merge Todos os Leads", "type": "main", "index": 0 }]]
    },
    "Formatar D+7 com Tipo": {
      "main": [[{ "node": "Merge Todos os Leads", "type": "main", "index": 1 }]]
    },
    "Marcar D+14 como LEAD_FRIO": {
      "main": [[{ "node": "Merge Todos os Leads", "type": "main", "index": 2 }]]
    },
    "Merge Todos os Leads": {
      "main": [[{ "node": "Processar 1 por Vez", "type": "main", "index": 0 }]]
    },
    "Processar 1 por Vez": {
      "main": [
        [{ "node": "É D+14 Frio?", "type": "main", "index": 0 }],
        []
      ]
    },
    "É D+14 Frio?": {
      "main": [
        [{ "node": "HubSpot — Marcar como Frio", "type": "main", "index": 0 }],
        [{ "node": "Gerar Follow-up com NOVA", "type": "main", "index": 0 }]
      ]
    },
    "HubSpot — Marcar como Frio": {
      "main": [[{ "node": "Próximo Lead", "type": "main", "index": 0 }]]
    },
    "Gerar Follow-up com NOVA": {
      "main": [[{ "node": "Claude API — Follow-up", "type": "main", "index": 0 }]]
    },
    "Claude API — Follow-up": {
      "main": [[{ "node": "Preparar Envio Follow-up", "type": "main", "index": 0 }]]
    },
    "Preparar Envio Follow-up": {
      "main": [[{ "node": "WhatsApp — Enviar Follow-up", "type": "main", "index": 0 }]]
    },
    "WhatsApp — Enviar Follow-up": {
      "main": [[{ "node": "HubSpot — Atualizar Estado Follow-up", "type": "main", "index": 0 }]]
    },
    "HubSpot — Atualizar Estado Follow-up": {
      "main": [[{ "node": "HubSpot — Nota Follow-up", "type": "main", "index": 0 }]]
    },
    "HubSpot — Nota Follow-up": {
      "main": [[{ "node": "Próximo Lead", "type": "main", "index": 0 }]]
    },
    "Próximo Lead": {
      "main": [[{ "node": "Processar 1 por Vez", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "wf-sdr-03",
  "tags": [{ "name": "SDR" }, { "name": "NOVA" }, { "name": "Follow-up" }, { "name": "HubSpot" }]
}
